# Exercises for part I - Try it at home

## List
 
1. Create a list of numbers from 1 to 10

In [138]:
myList = list(range(1,11))

2. Append to the list the number 20

In [139]:
myList.append(20)

3. Insert two zeros after the fourth place of the list

In [140]:
myList[4:4] = [0,0]

4. Sort the list in reverse order

In [141]:
myList.sort(reverse = True)

5. Remove the last two items from the list

In [142]:
del myList[(len(myList)-2):(len(myList))]

6. Invert the order of the list

In [143]:
myList.reverse()

7. How many items has the list?

In [144]:
print(len(myList))

11

8. Give the minimum, maximum and the sum of all the items in the list

In [145]:
print (min(myList),max(myList),sum(myList))

1 20 75

9. What will happen if you multiply the list by 2?

In [146]:
print(myList*2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

10. Can you divide the list by 3?

In [147]:
print('No')

No

# Tupples
 
1. Create a tupple with three characters and four numbers

In [148]:
myTuple = ('a','b','c', 1, 2, 3, 4)

2. Append two booleans (false, true) to the tupple

In [149]:
x = list(myTuple)
x[len(x):len(x)]= [True, False]
myTuple = tuple(x)

3. Retrieve the third to sixth items from the tupple

In [150]:
print(myTuple[2:6])

('c', 1, 2, 3)

4. Divide the tupple by data type and create a list for each, then create a muttable tupple using these lists

In [151]:
a = []
b = []
c = []
for i in myTuple:
    if type(i) == str:
        a.append(i)
    if type(i) == int:
        b.append(i)
    if type(i) == bool:
        c.append(i)
myTuple = (a, b, c)
myTuple

(['a', 'b', 'c'], [1, 2, 3, 4], [True, False])

# Sets
 
1. Create a set using the following paragraph:
 
<quote>
"Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
<quote>
 
Note: Each part of the set must be a word, not a character!

In [152]:
mytext = "Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
mySet = set(mytext.split(" "))
mySet

{'A',
 'Shallow',
 'a',
 'an',
 'bit-wise',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'object.',
 'of',
 'original',
 'that',
 'the',
 'values'}

2. Do you see something wierd in this set? What? How can you prevent that?

In [153]:
print ("I DONT KNOW")

I DONT KNOW

# Dictionary
 
1. Generate a dictionary from the following table:

<table>
    <tr> <th> EmployeeID </th> <th> Name </th> <th> Position </th> <th> Phone </th> </tr>
    <tr> <td> 1020 </td> <td> Harry Smith </td> <td> Sales Manager </td> <td> 030-223.65.44 </td> </tr>
    <tr> <td> 2201 </td><td> Margaret Holsum </td> <td> Sales Representative </td> <td> 030-223.64.12 </td> </tr>
    <tr> <td> 3320 </td><td> Lasly Howard </td> <td> Human Resources </td> <td> 030-223.83.33 </td> </tr>
    <tr> <td> 8111 </td><td> Larry Johnson </td> <td> Project Manager </td> <td> 030-224.22.00 </td> </tr>
    <tr> <td> 2733 </td><td> Hellen Young </td> <td> Customer Service </td> <td> 030-223.03.20 </td> </tr>
</table>

In [154]:
myDict = {1020: {'Name':'Harry Smith', 'Position':'Sales Manager','Phone':'030-223.65.44'},
         2201: { 'Name':'Margaret Holsum', 'Position':'Sales Representative','Phone':'030-223.64.12'},
         3320: {'Name':'Lasly Howard', 'Position':'Human Resources','Phone':'030-223.83.33'},
         8111: {'Name':'Larry Johnson', 'Position':'Project Manager','Phone':'030-224.22.00'},
         2733: {'Name':'Hellen Young', 'Position':'Customer Service','Phone':'030-223.03.20'}}

1. Get all the keys of the dictionary

In [155]:
myDict.keys()

dict_keys([1020, 2201, 3320, 8111, 2733])

2. Get all the values of the dictionary

In [156]:
myDict.values()

dict_values([{'Name': 'Harry Smith', 'Position': 'Sales Manager', 'Phone': '030-223.65.44'}, {'Name': 'Margaret Holsum', 'Position': 'Sales Representative', 'Phone': '030-223.64.12'}, {'Name': 'Lasly Howard', 'Position': 'Human Resources', 'Phone': '030-223.83.33'}, {'Name': 'Larry Johnson', 'Position': 'Project Manager', 'Phone': '030-224.22.00'}, {'Name': 'Hellen Young', 'Position': 'Customer Service', 'Phone': '030-223.03.20'}])

3. Show the third row of the table by calling the dictionary using the respective EmployeeID

In [157]:
myDict.get(3320)

{'Name': 'Lasly Howard',
 'Position': 'Human Resources',
 'Phone': '030-223.83.33'}

# Loop programming in python
 
1. Write a script that shows all the primary numbers from 1 to 100. Use for.. loop and if..else

In [158]:
def prime_num(x):
    for i in range(2,x):
        if x%i != 0:
            return True
        else:
            return False
prime_list = []
for j in range(1,101):
    if prime_num(j):
        prime_list.append(j)
print(prime_list)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

2. Write a different solution to the problem in the last question, but using while.. in place of for..

In [159]:
y = 1
prime_list = []
while y < 100:
    if prime_num(y):
        prime_list.append(y)
    y=y+1
print(prime_list)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]